*{ margin: 0; padding: 0; box-sizing: border-box}

.site-headers{
    width: 100%;
    height: 100vh;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

nav{
    width: 100%; height: 100px;  display: flex;
}

.logo{ width: 50%; height: 100px;}

.logo h1{ line-height: 100px; padding-left: 50px;}

    .menu { width: 50%; height: 100px; }

    .menu ul{ width: 100%; height: 100px; 
        display: flex; flex-direction: row; 
        justify-content: space-around;
        align-items: center; }

        .menu ul li{ list-style: none; font-size: 12px;
           font-weight: bold; text-transform: uppercase; }
         section { display: flex; }  

         

        .leftside img{ width: 600px; height: 500px; }

        .rightside { width: 55%; height: 300px; color: white; font-size: 50px; font-weight: 900; text-transform: uppercase; }

    .rightside p{ font-size: 1.1rem; }

    .rightside button{ font-size: 17px; font-weight: bold; color: white; text-transform: uppercase;
        background: linear-gradient(57deg, #00c6a7, #1e4d92); 
        border-radius: 4px; padding: 20px 35px; }

        .rightside button:hover{
            background: linear-gradient(57deg, #1e4d92, #00c6a7);  
        }
        
        

